h3{
    color: deeppink;
    background-color: bisque;
    font-size: 50px;
}

h4{
    color: aqua;
    background-color: cadetblue;
    font-size: 40px;
}
H5{
    color: indigo;
    background-color: aliceblue;
    font-size: 70PX;
}
T{
   color: blue;
   background-color: blanchedalmond;
}